@page "/"
@using BRD.Common.Models
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<PageTitle>Blazor Reddit Demo | Lucas Vogel</PageTitle>

<h1>Reddit Posts and Authors for /r/worldnews</h1>

<div class="container">
    <SfSpinner @bind-Visible="showSpin" Label="Refreshing..." Type="SpinnerType.Bootstrap"></SfSpinner>
    <div class="row">
        <div class="col-md-6">
            <h3>Posts</h3>
            <!-- Content of the first column goes here -->
            <SfListView DataSource="posts" Width="100%">
                <ListViewFieldSettings TValue="ListItem" Id="Title" Text="Title"></ListViewFieldSettings>
                <ListViewTemplates TValue="ListItem">
                    <Template>
                        <div class="e-list-wrapper e-list-multiline">
                            <span class="e-list-content">@context.Title</span>
                        </div>
                    </Template>
                </ListViewTemplates>
            </SfListView>
        </div>
        <div class="col-md-6">
            <h3>Users</h3>
            <SfListView DataSource="users" Width="100%">
                <ListViewFieldSettings TValue="ListItem" Id="Title" Text="Title"></ListViewFieldSettings>
                <ListViewTemplates TValue="ListItem">
                    <Template>
                        <div class="e-list-wrapper e-list-multiline">
                            <span class="e-list-content">@context.Title</span>
                        </div>
                    </Template>
                </ListViewTemplates>
            </SfListView>
        </div>
    </div>
</div>
<style>
    .e-listview:not(.e-list-template) .e-list-item{
        height:  auto;
        }
    .e-listbox-container {
        margin: auto;
        max-width: 400px;
        box-sizing: border-box;
    }
    .e-list-item{
        height: 100px;
        }
    .e-list-wrapper{
        padding-bottom: 5px;
        margin-bottom: 10px;
        }
    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 78px;
    }

    .e-list-content{
        word-wrap: normal;
        padding-bottom: 5px;
        }
    .list-wrapper .text,
    .list-wrapper .description {
        display: block;
        margin: 0;
        padding-bottom: 3px;
        white-space: normal;
    }

    .list-wrapper .description {
        font-size: 12px;
        font-weight: 500;
    }

    .e-listbox-container .list-wrapper .text {
        font-weight: bold;
        font-size: 13px;
    }
    .e-listbox-container .e-list-item {
        height: auto !important;
    }
</style>
